@import url('./fonts/main.css');
:root {
  --primary-color: #ffdc5d;
  --secondary-color-light: #fffbeb;
  --secondary-color: #7a54df;
  --danger-color: #f865b0;
  --secondary-color-bg: #241942;
  --secondary-color-bg-light: #7a54df29;
  --dark-color: #363636;
  --pre-bg-color: #ebebeb;
}

body {
  background-color: var(--secondary-color-bg);
  color: var(--secondary-color-light);
  font-family: 'Montserrat';
}

input {
  font-family: 'Montserrat' !important;
}

div.documentwrapper,
div.body {
  background: initial;
}

tt,
code {
  background-color: var(--secondary-color-bg-light) !important;
  color: var(--secondary-color-light) !important;
}

div.body {
  min-width: auto;
}
div.body:not(pre) {
  color: var(--secondary-color-light);
}
div.document,
div.footer {
  width: auto;
  max-width: 1000px;
  color: inherit;
}

div.footer a {
  color: inherit;
}
div.sphinxsidebarwrapper p.logo {
  margin: -10px 10px 0 0px !important;
}
pre {
  background-color: var(--pre-bg-color);
  color: var(--dark-color);
}
div.sphinxsidebar a:link.current,
div.sphinxsidebar a:visited.current {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: none;
  font-weight: 500;
  cursor: text;
}

a:link,
div.sphinxsidebar a:link {
  color: var(--secondary-color-light);
}

a:visited,
div.sphinxsidebar a:visited {
  color: var(--secondary-color-light);
}

a.reference {
  border-bottom: 1px dotted var(--secondary-color-light);
}

a.reference:hover,
div.sphinxsidebar a:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

div.sphinxsidebar p {
  color: var(--secondary-color-light);
}
/* Don't hide logo when viewed on mobile, just invert its colors */
@media screen and (max-width: 875px) {
  div.sphinxsidebar {
    background: linear-gradient(
      180deg,
      var(--secondary-color) 10%,
      var(--danger-color)
    );
  }
  div.sphinxsidebar p.logo {
    display: block;
    width: 60%;
  }

  div.sphinxsidebar a:link.current,
  div.sphinxsidebar a:visited.current {
    color: var(--primary-color);
  }

  div.sphinxsidebar {
    background-color: var(--dark-color);
  }

  .toctree-l3.current,
  .toctree-l2.current::marker {
    color: var(--primary-color) !important;
  }

  /* Different link colors */
  div.sphinxsidebar a:link {
    color: var(--secondary-color-light);
  }

  div.sphinxsidebar a:visited {
    color: var(--secondary-color-light);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo 2' !important;
  color: var(--secondary-color-light) !important;
}

.related.top {
  border-bottom: 1px solid var(--secondary-color-light);
}

.related.bottom {
  border-top: 1px solid var(--secondary-color-light);
}

.logo ~ .blurb {
  font-size: 0.85rem;
}

.toctree-l3,
.toctree-l2::marker {
  color: var(--secondary-color-light);
}

.toctree-l3.current,
.toctree-l2.current::marker {
  color: var(--primary-color);
}

li::marker {
  color: var(--secondary-color-light);
}

div.warning {
  background: var(--danger-color);
}

dt:target,
.highlight {
  background: var(--secondary-color-bg-light);
}

div.admonition {
  margin: 20px 0px !important;
}
